node_modules
**/node_modules

dist
**/dist

.git
.gitignore
.env

*.log
npm-debug.log*

.DS_Store
.vscode
.idea

coverage
.nyc_output

uploads
**/uploads

docker-compose*.yml
Dockerfile*
.dockerignore
README.md